@page "/"
@using Microsoft.AspNetCore.Authorization
@using ShiftSoftware.ShiftIdentity.Core.DTOs.City
@using StockPlusPlus.Shared.DTOs.Product
@using StockPlusPlus.Shared.DTOs.ProductCategory
@using StockPlusPlus.WebComponents.Pages.Product
@using StockPlusPlus.WebComponents.Pages.ProductBrand
@using StockPlusPlus.WebComponents.Pages.ProductCategory

<h1>Hello, world!</h1>

<StockPlusPlus.WebComponents.Pages.Product.ProductList/>

